.wallselect-bg {
    background-color: $layer0;
    border-bottom: 0.5px solid $outliner;
    padding: 1rem 0rem 1.2rem;
}
.colorpicker{
    background-color: $layer0;
    padding: 0.2rem 1.5rem;
}
.pick-rounding {
    border-radius: 0 0 $rounding_large $rounding_large;
}
.wall-rounding {
    border-radius: $rounding_small $rounding_small 0 0;
}
.wallpaper-list {
    .preview-box {
        min-width: 164px;
        min-height: 102.5px;
        background-size: cover;
        background-position: center;
        border-radius: $rounding_small;
    }

    button {
        margin: 5px;
    }
}
.wallselect-content {
    background-color: $layer1;
    padding: 0.5rem 0.5rem;
    margin: 0 $elevation_margin + $elevation_margin;
    border-radius:$rounding_medium;
}
.corner-wallselect{
    @include large-rounding;
    background-color: $background;
}
.wallpaper-placeholder {
    padding: 2rem;
    @include titlefont;
    color: $onSurfaceVariant;
}

.generate-thumbnails {
    padding: 0.5rem 1rem;
    border-radius: 9999px;
    background-color: $secondaryContainer;
    color: $onSecondaryContainer;
    margin-right: 0.5rem;
    
    &:hover {
        background-color: mix($secondaryContainer, $onSecondaryContainer, 90%);
    }
    
    &:active {
        background-color: mix($secondaryContainer, $onSecondaryContainer, 80%);
    }
}
